.sidebar {
  border-right: 1px solid #eeeeee;
  padding: 20px;
  width: 250px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.product-grid {
  margin-left: 40px;
}

.cart-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
  padding-top: 20px;
  margin-top: 20px;
}

.cart-item {
  display: flex;
}

.cart-card h3 {
  font-weight: 400;
  font-size: 17px;
}

.cart-main {
  border-bottom: 1px solid #eeeeee;
  overflow-y: auto;
}

.cart-footer h3 {
  font-weight: 500;
  font-size: 18px;
}

.cart-footer p {
  font-size: 14px;
}

.price {
  display: flex;
  justify-content: space-between;
}

/* Cart Header */
.mantine-Drawer-header {
  margin-bottom: 0;
}

.products,
.categories,
.orders {
  padding-left: 20px;
}

.product {
  width: 185px;
}

.product-text {
  width: 150px;
  overflow: hidden;
}